:root {
  --orange: rgba(247, 136, 47, 0.8);
  --light-orange: #E6C043;
  --blue: #76BED0;
  --overlay: rgba(25, 25, 35, 0.8);
  --black: #000000;
  --shallow-background: rgba(0,0,0, 0.85);
  --red: #F71735;
  --menu-speed: 0.75s;
}

@import url("media-queries.css");
@import url("forms.css");
@import url("tables.css");
@import url("header.css");
@import url("menu.css");
@import url("card.css");
@import url("buttons.css");
@import url("tournament.css");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body, html {
  margin: 0;
  padding: 0;
  font-family: Verdana, Helvetica, sans-serif;
}

ul {
  list-style: none;
}

.App{
  margin: 0 auto;
  background-color: var(--orange);
  min-height: 100vh;
  width: 100vw;
}
h1, h2, h3, h4, h5, h6 {
  font-family: Teko, 'Times New Roman', Times, serif;
  font-weight: 700;
}

div.m3-container {
  margin: 3rem 0;
}

div.body-container{
  padding: 1rem;
}
.error-input {
  border: 1px solid var(--red);
}
.error-text {
  color: black;
}

div.tournaments ul li button{
  background-color: var(--orange);
  color: black;
  font-size: 1.2rem;
  border: none;
  width: 100%;
  text-align: start;
  padding: 0.5rem 1.5rem;
  margin-bottom: 0.5rem;
  border: 1px solid black;
}

div.tournaments ul li button:hover {
  cursor: pointer;
}

div.landing {
  height: 70vh;
  margin: auto 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

div.landing img {
  width: 70vw;
  display: inline-block;
}

div.landing h1 {
  display: inline-block;
  margin: 0 auto;
  color: black;
  text-shadow: none;
  width: 100%;
  text-align: center;
  font-size: 1.8rem;
}

div.table-container {
  overflow-x: auto;
}

footer {
  width: 100%;
  bottom: 0;
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

footer p{
 font-size: 1rem;
 font-weight: 600; 
}