div.table-container {
  width: 100%;
}
table { 
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0 1rem; 
  margin: 1rem 0;
  margin-bottom: 2rem;
}

tr {
  border-bottom: 1px solid black;
  line-height: 2rem;
}

td, th {
  text-align: center;
  min-width: 2.5rem;
  overflow: auto;
  max-width: 8rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}
